.about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

.about .about__left {
  max-width: 40rem;
  flex: 1;
  text-align: center;
}

.about .about__left p {
  margin: 1rem 0 2rem;
}

.about .about__left ul {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.about .about__left ul li {
  display: inline-block;
}

.about .about__left ul li a {
  display: inline-block;
  padding: 1rem;
}

.about .about__left ul li a.social-icon-link {
  display: inline-flex;
  padding: 0;
}

.about .about__right {
  flex: 1;
  max-width: 66rem;
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    text-align: center;
  }
}
